/* ============================================= */
/*              Variables                        */
/* ============================================= */

//Base Colors

$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$text-color: #777;
$white: #fff;
$error-color: #e4757a;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;

//Breakpoints

$break-m: 768px;