/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  
  @include mq($break-m) {
    & {
      padding: 10px 30px;
    }

    & + & {
      margin-left: 10px;
    }
  }
}

.default {
  background-color: $secondary-color;
  @include lighten-color($color: $secondary-color);
}

.error {
  background-color: $error-color;
  @include lighten-color($color: $error-color);
}

.info {
  background-color: $info-color;
  @include lighten-color($color: $info-color);
}

.success {
  background-color: $success-color;
  @include lighten-color($color: $success-color);
}

.warning {
  background-color: $warning-color;
  @include lighten-color($color: $warning-color);
}
